.main-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.main-menu > *{
  text-align: center;
}
.main-menu a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 0px 10px black;
}
.main-menu .information{
  text-align: left;
  color: yellow;
  text-shadow: 0px 0px 10px black;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
}
.main-menu div:hover{
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
}
h2{
  margin: 0px;
}
